*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
html{
  font-size: 4vh;
  font-family: 'Bodoni Moda', serif;
}
body{
  background-color: #00af91;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;

}

#wrapper{
  width:90%;
  height: 50vh;
  margin:0 auto;
  justify-content: center;
  align-items: center;


}
.form-container{
  width:100%;
  max-width: 40rem;
  background-color:  #09015f;
  position: relative;
  padding: 10rem 0;
  box-shadow: 0 1px 1.5rem;
  border-radius: 1rem;
  z-index: 1;
}
.form-container::before{
  content: ' ';
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 30rem;
  background: linear-gradient(to left,#ff577f,#ffcc29);
  z-index: -1;
border-bottom-right-radius:  75%;
}
.col-heading{
  color: #09015f;
  font-size: 2rem;
  position: absolute;
  align-items: center;
  top:3.5rem;
  left:10rem;
}
form{

padding: 2rem 0;
background-color: #ffcc29;
border-radius: 1rem;
box-shadow: 0 1px 1.5rem #ff577f;
height: 40%;
width:90%;
}
input-group{
  width:90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: baseline;

}
.input-group>i{
  font-size:0.75rem;
margin-right: 0.75rem;
color:#09015f;
}
.input-group .bar{
  position:absolute;
  left: 0;
  bottom: 0;
}
.q{
  font-size:1.5rem;
margin-left: 5rem;
color:#09015f;
border-color: #ff577f;
background-color: #ff577f;
align-items: center;
}
.input-group .bar::before{
  content:' ';
  position:absolute;
  background-color: #ff577f;
  width: 0;
  height: 2px;
  transition: width 650ms;
}
.input-group input:focus+.bar::before{
  width:100%;
}
.s{
  border-radius: 100%;
}
